<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <main class="container">
        <% include ../static/partials/navbar.ejs %>

        <h1>Ads</h1>
        <p>Ads go here</p>

        <ul class="list-group">
            <!-- #1 -->
            <% advert.forEach((advert) => { %>
            <!-- #2 -->
            <li class="list-group-item">
                <a href="/advert/<%= advert.id %>">
                    <%= advert.title %> </a>
            </li>
            <% }) %>
        </ul>

    </main>
</body>

</html>
